<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../static/gs.jpg' rel='icon' type='image/x-icon'/>
    <title>Set Password</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto-5"></div>
<h1 class="mb-5">Input your new password</h1>
<form enctype="multipart/form-data "  method = "post">
{%csrf_token%}
{%for field in form %}
<div class="form-group">
    {{field.label}}
    {{field}}
</div>
{%endfor%}
{%if field.errors%}
<div class="alert alert-danger">
    {{field.errors}}
</div>
{%endif%}
<button type = "submit" class  = "btn btn-success">Reset Password</button>
</form>
  </div>
    </div>
</body>
</html>