{%load static %}
{%load cart %}
<!DOCTYPE html>
<html lang="en">
<head>
<link href='https://www.soengsouy.com/favicon.ico' rel='icon' type='image/x-icon'/>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, intial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/Food_Order.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://use.fontawesome.com/a6f0361695.js"></script>
    <title>Food Order</title>
</head>
<body>
 <div class="menu">

    <div class="heading">
      <h1>KALASH DA DHABA</h1>
      <h3>&mdash; FOOD ORDER &mdash;</h3>

    </div>
  </div>
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
               {%if food.food_pic %} 
                 <img src = "/media/{{food.food_pic}}" alt = "Food image">
                <img src = "/media/{{food.food_pic}}" alt = "Food image">
                <img src = "/media/{{food.food_pic}}" alt = "Food image">
                <img src = "/media/{{food.food_pic}}" alt = "Food image">
    {%else%}
            <img src="../static/download.png" alt="food_pic" class = "profile_pic">
    {%endif%}
    
             
              
                
              </div>
            </div>
            <div class = "img-select">
              <!-- <div class = "img-item">
                <a href = "#" data-id = "1">
                  <img src = "../static/bg1.jpg" alt = "Food image">
                </a>
              </div> -->
              <!-- <div class = "img-item">
                <a href = "#" data-id = "2">
                  <img src = "../static/bg1.jpg" alt = "Food image">
                </a>
              </div> -->
              <!-- <div class = "img-item">
                <a href = "#" data-id = "3">
                  <img src = "../static/bg1.jpg" alt = "Food image">
                </a>
              </div> -->
              <!-- <div class = "img-item">
                <a href = "#" data-id = "4">
                  <img src = "../static/bg1.jpg" alt = "Food image">
                </a>
              </div> -->
            </div>
          </div>
          <!-- card right -->
          <div class = "product-content">
            <h2 class = "product-title">{{food.Food_Name}}</h2>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>{{food.Food_Avg_Rating}}({{food.users}})</span>
            </div>
  
            <div class = "product-price">
           {%if Discount %}
             <p class = "last-price">Old Price: <span>&#8377; {{food.Food_Price}}</span></p> 
              <p class = "new-price">New Price: <span>&#8377; {{new_food_price}} ({{food.Discount_In_Percentage}}%) </span></p>
            {% else %}
              <p class = "new-price">Price: <span>&#8377; {{food.Food_Price}} ({{food.Discount_In_Percentage}}%) </span></p>
            {% endif %}  
            </div>
          
  
            <div class = "product-detail">
              <h2>about this Food: </h2>
              <p>{{food.Description}}</p>
              <ul>
                <li>Category: <span>{{food.Food_Type}}</span></li>
                <li>Shipping Area: <span>All over the world</span></li>
                <li>Shipping Fee: <span>Free</span></li>
              </ul>
            </div>
  
            <div class = "purchase-info">
              <form action="{{request.path}}"  class="col-2" method="POST">{%csrf_token%}
                <input type="text" name = "qty" value = {{qty}} hidden>
                <input type="text" name = "remove" value = 'True' hidden>
                <input type="submit" value = " - " class=" btn btn-block btn-secondary">
              </form>

            <div class="text-center col">   {{qty}}  </div>
          <form action="{{request.path}}"  class="col-2" method="POST">{%csrf_token%}
            <input type="text" name = "qty" value={{qty}} hidden>
            <input type="submit" value = " + " class=" btn btn-block btn-secondary">
          </form>
             <button type = "button" class = "btn">
              Qty <i class="fas fa-sort-amount-up"></i>
            </button>
              <button type = "button" onClick="document.location='{%url 'Payment' food.id qty %}'" class = "btn">Order Now</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- nav area start -->
<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{%url 'AddCart'%}">Cart</a><span class = "badge badge-info">{{request.session.cart.keys|length}}</span>
        <li><a href="{%url 'MyOrders'%}">Orders</a><span class = "badge badge-info">{{ord|length}}</span></li>
        <li><a href="{%url 'FoodMenu'%}">Menu</a>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!-- nav area end -->
<!-- feedback form -->
<form id="feedback" method = "POST" action="{%url 'FeedBack' food.id %}">
  {%csrf_token%}
 <div class="pinfo">Rate our overall services.</div>
<div class="form-group">
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-heart"></i></span>
   <select class="form-control" id="rate" name = "rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    </div>
  </div>
</div>

 <div class="pinfo">Write your feedback.</div>
  

<div class="form-group">
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
  <textarea class="form-control" id="review" name = "feedback" rows="3"></textarea>
 
    </div>
  </div>
</div>

 <button type="submit" class="btn btn-primary">Submit</button>


</form>
<!-- comant show area -->
<!--Testimonials------------------->
<section id="testimonials">
  <!--heading--->
  <div class="testimonial-heading">
      <span>Comments</span>
      <h1>Clients Says</h1>
  </div>
  <!--testimonials-box-container------>
  <div class="testimonial-box-container">
    {%for comment in rating %}
      <!--BOX-1-------------->
      <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
              <!--profile----->
              <div class="profile">
                  <!--img---->
                  <div class="profile-img">
                   {%if comment.user.profile_pic %} 
             <img src="/media/{{comment.user.profile_pic}}" />
            {%else%}
            <img src="../css/user.png" alt="user_profile_pic"  class = "profile_pic">
            {%endif%}
                     
                  </div>
                  <!--name-and-username-->
                  <div class="name-user">
                      <strong>{{comment.user.Name}}</strong>
                      <span>{{comment.user.email}}</span>
                  </div>
              </div>
              <!--reviews------>
              <div class="reviews">
               <h6>{{comment.rate}}</h6>
                <i class="fas fa-star"></i>
               
              </div>
          </div>
          <!--Comments---------------------------------------->
          <div class="client-comment">
              <p>{{comment.content}}</p>
          </div>
      </div>
      {%endfor%}
      </section>
      <!-- camment show area end -->

<!-- feedback form end -->

      <script>
          const imgs = document.querySelectorAll('.img-select a');
const imgBtns = [...imgs];
let imgId = 1;

imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
        event.preventDefault();
        imgId = imgItem.dataset.id;
        slideImage();
    });
});

function slideImage(){
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
}

window.addEventListener('resize', slideImage);

      </script>
</body>
</html>