<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../RTMS/static/css/Food_menu.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Food Menu</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="#">Bistro </a>
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>
    <section>
        <div class="slider">
            <figure>
                <div class="slide">
                    <img src="" alt="">
                </div>
                <div class="slide">
                    <img src="../../RTMS/static/Slide_img/bread-barrel.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../RTMS/static/Slide_img/caesar.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../RTMS/static/Slide_img/cake.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../RTMS/static/Slide_img/greek-salad.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../RTMS/static/Slide_img/spinach-salad.jpg" alt="">
                </div>
                
    
                </figure>
            </div>
    </section>
<!-- Making Bar -->
<div class="main_1">
    <div class="icon-bar">
        <h3 class = "photo">Photo</h3>
        <h3 class = "Description">Description</h3>
        <h3 class = "filter">Filter</h3>
        <h3 class = "btn">Buttons</h3>
    </div>
    </div>
    <div class="main_2">
        <div class="icon-bar2">
            <h3 class = "photo"></h3>
            <h3 class = "Description"></h3>
            <h3 class = "filter">
            </h3>
            <h3 class = "btn"><button type="submit" >Add FoodItems</button>
                <button type="submit" >Add Types</button>
                <button type="submit" >Add photo</button></h3>
        </div>
        </div>
   
</body>
</html>
