{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/Food_menu.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Food Menu</title>
</head>
<body>
    <!-- Header area -->
<div class="menu">
    
    <div class="heading">
        <h1>KALASH DA DHABA</h1>
        <h3>&mdash; MENU &mdash;</h3>
         
    </div>
    <!-- Header area finish -->
    <!-- Menu area start -->
    {%for food_items in food%}
    <div class="food-items">
        <img src="/media/{{food_items.food_pic}}" alt="food_pic">
        <form action="food_order/{{food_items.id}}/">
        </form>
    <div class="details">
        <div class="details-sub">
            <h5>
            {% comment %} <a href="{% url 'FoodOrder' %}">{{food_items.Food_Name}}</a> {% endcomment %}
            <form action="food_order/{{food_items.id}}/" method = "POST">
            {%csrf_token%}
                <input type="submit" value = {{food_items.Food_Name}}>
            </form>
            </h5>
            <h5 class="price">&#8377; {{food_items.Food_Price}}</h5>
        </div>
        <p>{{food_items.Description}}</p>
        <button>Add To Cart</button>
    </div>
    </div>
    {%endfor%}
</div>

<!-- Filter Bar -->
<section>
    <ul>
        <li class="list " data-filter = "All">Filters <i class="fas fa-filter"></i></li>
        <li class="list " ><a class = "filter" href="{{request.path}}">All</a></li>
        {%for category in cate%}
        <li class="list" ><a  class = "filter" href="/user/menu?ca ={{category}}">{{category}}</a></li>
        {%endfor%}
    </ul>
  </section>
<!-- Filter Bar end -->

<!-- Search Bar area start -->
<div class="main">
    <form action="{{request.path}}"method  ="POST">{%csrf_token%}
        <input type="text" name = "box" name = "box" placeholder="   Search.... ">
    <div class="btn">
        <input type="submit" name = "search" value  = "Search" class="btn-btn"/>
    </div>
    </form>
</div>
<!-- Search Bar area end -->
<!-- nav area start -->

<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Filters</a>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!-- nav area end -->

 <script type = "text/javascript">
// Add active class on selected item
('.filter').click(function(){
        this.addClass('active').siblings().removeClass('active')
    })  
</script>

 

</body>
</html>
