{%load static%}
{%load cart %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href='https://www.soengsouy.com/favicon.ico' rel='icon' type='image/x-icon'/>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static '/css/MyOrders.css' %}">
  <title>Shoping Cart</title>
</head>
<body>
<!-- Header area -->
  <div class="menu">

    <div class="heading">
      <h1>KALASH DA DHABA</h1>
      <h3>&mdash; MY ORDERS &mdash;</h3>

    </div>
  </div>
  <!-- Header area finish -->
  <!-- nav area start -->

  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{%url 'AddCart'%}">Cart</a><span class = "badge badge-info">{{request.session.cart.keys|length}}</span>

      <li><a href="{%url 'FoodMenu'%}">Menu</a>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <!-- nav area end -->

<!---Hero Section-->
 <section id="hero">
    <div class="hero-container">
    <div class="hero-logo">
      <h1 class="font-weight-bold">My Orders</h1>
  </div>
        </div>
</section>
<!---End of Hero Section-->
<!--Cart Section-->
<section class="mt-5">
    <div class="container">
        <div class="cart">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
            <th scope="col">Sno</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Received</th>
            <th scope="col">Cancel Order</th>
          </tr>
                </thead>
                     <table class="table">
        <tbody>
        {% if orders %}
        {% for order in orders %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><img src="/media/{{order.food.food_pic}}" height="98" width="145" alt="food_img"></td>
            <td>{{order.food.Food_Name}}</td>
            <td>{{order.quantity}}</td>
            <td>&#8377; {{order.total_amount}}</td>
            <td>{{order.date_time}}</td>
            <td>
              {%if order.deliver_status %}
                <small class="badge badge-success">completed</small>
              {% else %}
              <small class="badge badge-warning">pending</small>
              {% endif %}
              </td>
            <td>
              

            {%if not order.deliver_status %}
              {% if order|is_it_penilty %}
                  <button type="button" data-target="#mymodel_1" data-toggle="modal" class="btn btn-primary">Cancel</button>
                {% else %}
                <form action="{{request.path}}" method="POST">{% csrf_token %}
                <input type="text" value={{order.id}} name="order_no" hidden>
                <button type="submit"   name="Cancle_with_no_penilty" value="Cancle_with_no_penilty"
                  class="btn btn-primary">Cancel</button>
                </form> 
              {% endif %}
            {% endif %}
 
              <!-- for cancle button -->

              <div class="modal" id="mymodel_1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="text-center text-danger ">Warning</h3>

                    </div>
                    <div class="modal-body">
                      <p>If you cancel your order after <strong>five minuets</strong> you will be penalised
                        on this order when you order next time. 
                      </p>
                    </div>
                    <div class="modal-footer">
                      <form action="{{request.path}}" method='POST'>{% csrf_token %}
                        <input type="text" value={{order.id}} name="order_no" hidden>
                        <button type="submit" class="btn btn-success text-center" name="cancle" value="Cancle">I agree</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- cancle area end -->

            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <div class="text-center">
          <h1>No Orders</h1>
        </div>
        {% endif %}
      </table>

            </table>
        </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
{% for msg in messages %}
  swal("Thank You!", '{{msg}}', "success");
{%endfor%}
</script>
</body>

</html>