{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://www.soengsouy.com/favicon.ico' rel='icon' type='image/x-icon'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- library validate -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
    <!-- style css -->
    <link rel="stylesheet" href="{%static 'css/Payment.css'%}">
    <title>Payment</title>
</head>

<body>
  <h2>Payment Form</h2>
  <div class="row">
      <div class="col-75">
          <div class="container">
              <form id="validate" action="/action_page.php">
                  <div class="row">
                      <div class="col-50">
                          <h3>Billing Address</h3>
                          <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                          <input type="text" id="fname" name="fullname" value="{{user.Name}}" placeholder="Soeng.Souy"disabled>
                          <label for="email"><i class="fa fa-envelope"></i> Email</label>
                          <input type="text" id="email" name="email"  value="{{user.email}}" placeholder="soeng.souy@gmail.com" disabled>
                          <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                          <input type="text" id="adr" name="address" placeholder="110 W. 15th Phnom Penh" required>
                          <label for="city"><i class="fa fa-institution"></i> City</label>
                          <input type="text" id="city" name="city" placeholder="Phnom Penh" required>
  
                          <div class="row">
                              <div class="col-50">
                                  <label for="state">State</label>
                                  <input type="text" id="state" name="state" placeholder="Phnom Penh"required>
                              </div>
                              <div class="col-50">
                                  <label for="zip">Pin Code</label>
                                  <input type="text" id="zip" name="zip" placeholder="12000"required>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-50">
                          <h3>Payment</h3>
                          <label for="fname">Accepted Cards</label>
                          <div class="icon-container">
                              <i class="fa fa-cc-visa" style="color:navy;"></i>
                              <i class="fa fa-cc-amex" style="color:blue;"></i>
                              <i class="fa fa-cc-mastercard" style="color:red;"></i>
                              <i class="fa fa-cc-discover" style="color:orange;"></i>
                          </div>
  
                          <label for="cname">Name on Card</label>
                          <input type="text" id="cname" name="cardname" placeholder="Soeng Souy"required>
                          <label for="ccnum">Credit card number</label>
                          <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"required>
                          <label for="expmonth">Exp Month</label>
                          <input type="text" id="expmonth" name="expmonth" placeholder="September"required>
                          <div class="row">
                              <div class="col-50">
                                  <label for="expyear">Exp Year</label>
                                  <input type="text" id="expyear" name="expyear" placeholder="2021"required>
                              </div>
                              <div class="col-50">
                                  <label for="cvv">CVV</label>
                                  <input type="text" id="cvv" name="cvv" placeholder="352"required>
                              </div>
                          </div>
                      </div>
                  </div>
                  <label>
                  <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                  </label>
                  
  <!-- pop button area start -->
  <div class="popup center">
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    <div class="title">
      Success!!
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nihil provident voluptatem nulla placeat
    </div>
    <div class="dismiss-btn">
      <button id="dismiss-popup-btn">
        Dismiss
      </button>
    </div>
  </div>
  <div class="btn">
    <button id="open-popup-btn" class = "btn">
      Buy Now
    </button>
  </div>
  <!-- pop button area end -->

              </form>
          </div>
      </div>
      <div class="col-25">
          <div class="container">
              <h4>{{food.Food_Name}} <span class="price" style="color:black"> <b>&#8377; {{food.Food_Price}}</b></span></h4>
              <p><a href="#">{{food.Food_Price}} x 1</a> <span class="price">$1200</span></p>
              <p><a href="#">Discount</a> <span class="price">$1500</span></p>
              <p><a href="#">CGST</a> <span class="price">$1400</span></p>
              <p><a href="#">SGST</a> <span class="price">$1200</span></p>
              <hr>
              <p>Total <span class="price" style="color:black"><b>$12600</b></span></p>
          </div>
      </div>
  </div>
  <!-- nav area start -->
<div class="nav">
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="{%url 'FoodMenu'%}">Menu</a>
      </li>
      <li><a href="#">Contact</a></li>
  </ul>
</div>
<!-- nav area end -->
  <!-- script validate js -->
  <script>
      $('#validate').validate({
          roles: {
              fullname: {
                  required: true,
              },
              email: {
                  required: true,
              },
              address: {
                  required: true,
              },
              city: {
                  required: true,
              },
              state: {
                  required: true,
              },
              zip: {
                  required: true,
              },
              cardname: {
                  required: true,
              },
              cardnumber: {
                  required: true,
              },
              expmonth: {
                  required: true,
              },
              expyear: {
                  required: true,
              },
              cvv: {
                  required: true,
              },
             
          },
          messages: {
              fullname:"Please input full name*",
              email:"Please input email*",
              city:"Please input city*",
              address:"Please input address*",
              state:"Please input state*",
              zip:"Please input address*",
              cardname:"Please input card name*",
              cardnumber:"Please input card number*",
              expmonth:"Please input exp month*",
              expyear:"Please input exp year*",
              cvv:"Please input cvv*",
          },
      });

      // Pop button java scripts
      document.getElementById("open-popup-btn").addEventListener("click",function(){
  document.getElementsByClassName("popup")[0].classList.add("active");
});
 
document.getElementById("dismiss-popup-btn").addEventListener("click",function(){
  document.getElementsByClassName("popup")[0].classList.remove("active");
});
  </script>
</body>
</html>